body {
    background-color: antiquewhite;
}

footer {
    background-color: gray;
    float: right;
    width: 100%;
}   

table {
    background-color: lightcyan;
    margin: 10px;
    padding: 6px;
    border: 4px, inset, darkgray;
    border-radius: 5px;
}

tr {
    border: 2px, double, darkgray;
}

th {
    background-color: lightblue;
    border: 3px, double, darkgray;
    font-size: 18px;
}

td {
    border: 1px, inset, darkgray;
    font-size: 18px;
}


h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: medium;
    text-align: center;
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    color: blue;
    font-size: 18px;
}

li {
    font-size: 18px;
}

div {
    background-color: lightcyan;
    border: 2px, solid, darkgray;
    width: 1000px;
}

img {
    border: 2px, double, black;
}

#left {
    float: left;
    margin: 20px;
    padding: 30px;
}

#right {
    float: right;
    margin: 20px;
    padding: 30px;
}

#Bar {
    list-style-type: none;
    margin: 0;
    border: 4px, inset, gray;
    padding: 8px;
    overflow: hidden;
    background-image: linear-gradient(180deg, lightblue, lightcyan);
}

#NavElm {
    float: left;
    width: 120px;
    text-align: center;
}

li a, #Btn {
    color: black;
    text-align: center;
    width: 120px;
    padding: 10px 10px;
    font-size: 20px;
    text-decoration: none;
}

li a:hover, #Drop:hover #Btn {
    background-color: cyan;
}

#Drop {
    display: inline-block;
}

#Menu {
    display: none;
    position: absolute;
    background-color: lightcyan;
    width: 150px;
    font-size: 16px;
    text-align: center;
    z-index: 1;
}

#Menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#Menu a:hover {
    background-color: lightblue;
}

#Drop:hover #Menu {
    display: block;
}